body{
    background-image: url(../img/backgr/backgr.jpg);
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
   
}
h3,h2{
    color: rgb(255, 255, 255);
    margin: 50px;
    text-shadow: 3px 3px 50px black;
}
.details-contant{
    display: flex;
    margin: 50px;
}
